node-red-tcp-server/redis-json-value.json
[{"id":"c69923f9.53b2d","type":"subflow","name":"Redis JSON Value","info":"","category":"storage","in":[{"x":135,"y":212,"wires":[{"id":"8d124d24.8c847"}]}],"out":[{"x":1110,"y":181,"wires":[{"id":"8d124d24.8c847","port":0},{"id":"6f2cfc33.300864","port":0}]}],"env":[{"name":"KEY","type":"str","value":""}]},{"id":"56c3be27.08216","type":"redis-command","z":"c69923f9.53b2d","server":"c429a6b4.3fd7b8","command":"set","name":"","topic":"","x":821.5,"y":111,"wires":[[]]},{"id":"5ded7766.7c61c8","type":"json","z":"c69923f9.53b2d","name":"","property":"payload","action":"str","pretty":false,"x":484.5,"y":114,"wires":[["9b20aa7c.5c3848"]]},{"id":"9b20aa7c.5c3848","type":"function","z":"c69923f9.53b2d","name":"Prepare request","func":"msg.payload = [\n    \"home:\" + env.get('KEY'),\n    msg.payload\n]\nreturn msg;","outputs":1,"noerr":0,"x":654.5,"y":111,"wires":[["56c3be27.08216"]]},{"id":"8d124d24.8c847","type":"switch","z":"c69923f9.53b2d","name":"Write?","property":"write","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":289.5,"y":210,"wires":[["5ded7766.7c61c8"],["fae879f.b9bbf88"]]},{"id":"fae879f.b9bbf88","type":"function","z":"c69923f9.53b2d","name":"Set lookup key","func":"msg.payload = [\"home:\" + env.get('KEY')]\nreturn msg;","outputs":1,"noerr":0,"x":452,"y":257,"wires":[["6f5cf1ed.eba7c"]]},{"id":"6f5cf1ed.eba7c","type":"redis-command","z":"c69923f9.53b2d","server":"c429a6b4.3fd7b8","command":"get","name":"","topic":"","x":621,"y":253,"wires":[["6f2cfc33.300864"]]},{"id":"6f2cfc33.300864","type":"function","z":"c69923f9.53b2d","name":"Decode response","func":"if (msg.payload) {\n    msg.payload = JSON.parse(msg.payload)\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":828.5,"y":261,"wires":[[]]},{"id":"c429a6b4.3fd7b8","type":"redis-config","host":"192.168.1.80","port":"6379","dbase":"0","pass":""}]